@use 'common/vars' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem 0;

  @media all and (max-width: 600px) {
    padding-top: 0;
  }

  p:first-child {
    font-size: 3rem;
    font-weight: 500;
  }
}
